@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color: #d2dae2;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none; 
    text-transform: capitalize; 
    transition: all .2s linear; 
    line-height: 1.5;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #d2dae2;
    padding-left: 30rem;
}

header{
    position: fixed;
    top: 0; left: 0; bottom: 0;
    background-color: #1e272e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
    text-align: center;
}

header .logo{
    text-transform: uppercase;
    color: #ffa500;
    font-size: 3rem;
    font-weight: bolder;
}

header .logo span{
    text-transform: uppercase;
    color:var(--main-color);
}

header .navbar a{
    display: block;
    font-size: 2rem;
    color: #ffa500;
    margin: 2rem 0;
}

header .navbar a:hover{
    letter-spacing: .2rem;
    color: var(--main-color);
}

header .follow a{
    font-size: 2.5rem;
    color: #228b22;
    margin: 0 .7rem;
}

header .follow a:hover{
    color: var(--main-color);
}

#menu-bars{
    position: fixed;
    top: 1rem; right: 1rem;
    z-index: 10000;
    background-color: var(--main-color);
    color: #3c40c6;
    border-radius: .5rem;
    padding:1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.cursor-1{
    position: absolute;
    top:0; left:0;
    height:1rem; width:1rem;
    background: #8b4c39;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-1.active{
    height:7rem;
    width:7rem;
    opacity: .3;
}

.cursor-2{
    position: absolute;
    top:0; left:0;
    height:4rem; width:4rem;
    border:.1rem solid #8b4c39;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.cursor-2.active{
    display: none;
}

/* Versiyon 3 start */
.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .image{
    flex:1 1 40rem;
}

.home .image img{
    width:100%;
}

.home .content{
    flex:1 1 40rem;
}

.home .content .hi{
    font-size: 2rem;
    color:var(--main-color);
}

.home .content h3{
    font-size: 4.5rem;
    color:#140A25;
    text-transform: uppercase;
}

.home .content h3 span{
    color:#a0522d;
    text-transform: uppercase;
}

.home .content .info{
    font-size: 2.5rem;
    color:#140A25;
    padding:.5rem 0;
}

.home .content .text{
    font-size: 1.7rem;
    color:#1c6071;
    padding:.5rem 0;
}

section{
    padding:1rem 5%;
    min-height: 100vh;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:#eab676;
    color:#cd853f;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:#140A25;
    letter-spacing: .2rem;
}
/* Versiyon 3 end */

/*versiyon 4 start*/
/* Versiyon 4-1 */
.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color:#140A25;
    text-transform: uppercase;
}

.heading span{
    color:#ffa500;
    text-transform: uppercase;
}
/* Versiyon 4-1 */

/* Versiyon 4-2 */
.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-bottom: 2rem;
}
.about .row-1 .image{
    flex:1 1 25rem;
}

.about .row-1 .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
    border:1rem solid rgb(252, 247, 247);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(155, 7, 7, 0.1);
}
.about .row-1 .content{
    flex:1 1 50rem;
}
/* Versiyon 4-2 */


/* Versiyon 4-3 */
.about .row-1 .content h3{
    color:#140A25;
    font-size: 3.5rem;
}

.about .row-1 .content p{
    color:#140A25;
    font-size: 1.7rem;
    padding:.5rem 0;
}

.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box{
    flex:1 1 20rem;
}

.about .row-1 .content .box-container .box span{
    color:#c71585;
}
/* Versiyon 4-3 */
/* Versiyon 4 end*/

/* Versiyon 5-1 */
.about .row-2{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row-2 .skills{
    flex:1 1 40rem;
}

.about .row-2 .skills .progress{
    padding:1rem 0;
}

.about .row-2 .skills .progress h3{
    display: flex;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
    color:#140A25;
    font-weight: 400;
}

.about .row-2 .skills .progress .bar{
    width:100%;
    background:#00008b;
    overflow:hidden;
    height:1rem;
    border-radius: 50rem;
}
.about .row-2 .box-container{
    flex:1 1 40rem;
}
/* Versiyon 5-1 end*/

/* Versiyon 5-2 start */
.about .row-2 .skills .progress .bar span{
    display:block;
    height:100%;
    background:#daa520;
    border-radius: 50rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span{
    width:55%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span{
    width:40%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span{
    width:15%;
}

.about .row-2 .skills .progress:nth-child(4) .bar span{
    width:1%;
}
/* Versiyon 5-2 end */

/* Versiyon 5-3 start*/
.about .row-2 .box-container{
    flex:1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row-2 .box-container .box{
    flex:1 1 15rem;
    background:#FFF6F6;
    padding:2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.6);
}

.about .row-2 .box-container .box h3{
    color:var(--main-color);
    font-size: 3rem;
}

.about .row-2 .box-container .box p{
    color:#140A25;
    font-size: 1.7rem;
    padding-top: .5rem;
}
/* Versiyon 5-3 end */

/* versiyon 6-1 starts */
.service .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.service .box-container .box{
    flex:1 1 30rem;
    text-align: center;
    padding:2rem;
    background:#FFF6F6;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
/* versiyon 6-1 ends*/

/* versiyon 6-2 starts*/
.service .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color:#FFF6F6;
    background: #ffa500;
    border-radius: 50%;
}

.service .box-container .box h3{
    color:#ffa500;
    font-size: 2.2rem;
    padding-top: 1rem;
}

.service .box-container .box p{
    color:#8b2323;
    font-size: 1.7rem;
    padding-top: .5rem;
}

/* versiyon 6-2 ends */

/* versiyon 7-1 starts */
.experience .box-container{
    display: flex;
    flex-wrap: wrap;
}

.experience .box-container .box{
    position: relative;
    flex:1 1 33rem;
    border-left: .2rem solid #ffa500;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;    
}
/* versiyon 7-1 end */
/* versiyon 7-2 starts */

.experience .box-container .box::before{
    content: '';
    position: absolute;
    top:0; left:-1rem;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background:#ffa500;
}
/* versiyon 7-2 ends */
/* versiyon 7-3 starts*/
.experience .box-container .box .content{
    background:#FFF6F6;
    padding:1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.6);
    border-radius: .5rem;
}
/* versiyon 7-3 ends */
/* versiyon 7-4 starts */
.experience .box-container .box .content span{
    color:#FFF6F6;
    font-size: 1.7rem;
    background: #ffa500 ;
    border-radius: 50rem;
    padding:.4rem 1rem;
}
/* versiyon 7-4 ends*/

.experience .box-container .box .content h3{
    font-size: 2.5rem;
    padding:.5rem 0;
    color:#140A25;
}

.experience .box-container .box .content p{
    font-size: 1.5rem;
    color:rgb(88, 62, 62);
}
/* versiyon 7 ends*/

/* versiyon 8 starts*/
.portfolio .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.portfolio .box-container .box{
    flex:1 1 30rem;
    height:25rem;
    position: relative;
    overflow:hidden;
    border:1rem solid #FFF6F6;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.6);
    background:#FFF6F6;
    border-radius: .5rem;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
}

.portfolio .box-container .box:hover img{
    height:75%;
    width:75%;
}

.portfolio .box-container .box h3{
    position: absolute;
    bottom:.5rem; left:1rem;
    font-size: 2.5rem;
    color:#140A25;
    text-transform: uppercase;
}

.portfolio .box-container .box .icons{
    position: absolute;
    top:1rem; right:1rem;
}

.portfolio .box-container .box .icons a{
    display: block;
    height:4rem;
    width:4rem;
    border-radius: .5rem;
    background: #FFF6F6;
    color:#140A25;
    font-size: 1.7rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.portfolio .box-container .box .icons a:hover{
    background:var(--main-color);
    color:#FFF6F6;
}
/* versiyon 8 ends*/

/* versiyon 9 starts */
.contact .icons-container{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.contact .icons-container .icons{
    flex:1 1 25rem;
    text-align: center;
    padding:2rem;
    background:#FFF6F6;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.6);
    border-radius: .5rem;
}

.contact .icons-container .icons i{
    height:5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: #ffa500;
    color:#FFF6F6;
    border-radius: 50%;
}

.contact .icons-container .icons h3{
    color:#140A25;
    font-size: 2rem;
    padding:.5rem 0;
    padding-top: 1rem;
}

.contact .icons-container .icons p{
    color:#808080;
    font-size: 1.7rem;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row form{
    flex:1 1 55rem;
    background:#FFF6F6;
    padding:0 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.6);
    border-radius: .5rem;
}

.contact .row .map{
    flex:1 1 25rem;
    border:1rem solid #FFF6F6;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.6);
    border-radius: .5rem;
    width: 100%;
}

.contact .row form .box,
.contact .row form textarea{
    width: 100%;
    border-bottom: .2rem solid #140A25;
    color:#140A25;
    text-transform: none;
    font-size: 1.7rem;
    padding:1rem 0;
    margin:1rem 0;
}

.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: #140A25;
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder{
    text-transform: capitalize;
}

.contact .row form textarea{
    height: 20rem;
    resize: none;
}

.contact .row form .btn{
    margin-top: 0;
    margin-bottom: 1.5rem;
}
/* versiyon 9 ends */

/* versiyon 10 ends */
.footer{
    margin-top: 2rem;
    font-size: 2rem;
    padding:2.5rem;
    text-align: center;
    color:#F0FFF0;
    background: #ADFF2F;
}

.footer span{
    color:#FAFAD2;
}
/* versiyon 9 ends   */
/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    body{
        padding: 0;
    }

    #menu-bars{
        display: initial;
    }

    header{
        left:-120%;
    }

    header.active{
        left:0%;
    }

}




@media (max-width:450px){

    html{
        font-size: 50%;
    }

    header{
        width:100%;
    }

    .experience .box-container .box{
        padding-right: 0;
    }

}